.ProductDetail {}

.ProductDetail {
    display: flex;
    flex-direction: column;
}

.ProductDetail__brandBar {
    background-color: #E1E1E1;
    height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 14px;
}