<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home | 무신사 게섯거라</title>
        <link rel="stylesheet" href="../../styles/normalize.css" />
        <link rel="stylesheet" href="../../styles/newStyles.css" />
        <link rel="stylesheet" href="./home.css" />
        <script type="module" src="/src/views/components/index.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
    </head>
    <body>
        <common-header></common-header>
        <div class="Banner">
            <img class="Banner__image" src="../../assets/images/banner.png" alt="banner" />
        </div>
        <div class="ProductList">
            <div class="ProductList__container Site__container">
                <h2 class="ProductList__title">실시간 랭킹</h2>
                <div class="ProductList__products">
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20210609/1989228/1989228_4_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20210609/1989228/1989228_4_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20220408/2477836/2477836_1_500.jpg?t=20220519101343" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20210607/1986031/1986031_1_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20220126/2329532/2329532_1_320.jpg" alt="product_image" />
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <common-footer></common-footer>
    </body>
</html>
