/* ProductList */
.ProductList__container {
    padding: 24px 0;
}

.ProductList__title {
    margin-bottom: 24px;
    font-size: 20px;
}

.ProductList__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 4px;
}

@media (max-width: 768px) {
    .ProductList__container {
        padding: 32px 0;
    }

    .productList__title {
        margin-bottom: 32px;
    }

    .ProductList__mobileTitle {
        color: rgb(179, 179, 179);
        font-weight: 500;
        font-size: 20px;
    }

    .ProductList__username {
        color: black;
    }

    .ProductList__products {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(136px, 1fr));
        grid-gap: 24px;
    }
}
