<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>PAY COMPLETE</title>
        <!-- 아이콘 -->
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../../assets/favicon.png"
        />
        <!-- 구글 폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet"
        />
        <!-- 커스텀 css, js -->
        <link rel="stylesheet" href="../../styles/normalize.css" />
        <link rel="stylesheet" href="../../styles/styles.css" />
        <link rel="stylesheet" href="../pay/pay.css" />
        <script type="module" src="../pay/pay.js"></script>
        <script type="module" src="/src/views/components/index.js"></script>
    </head>

    <body>
        <common-header></common-header>
        <div class="pay__complete__container">
            <div class="finish__ment">
                <h1>결제가 완료되었습니다!</h1>
            </div>
            <div class="complete__btn__box">
                <div class="cancle__btn">
                    <input type="button" id="cancle__btn" value="주문취소" onclick="cancleOrder();" />
                </div>
                <div class="finish__btn">
                    <input type="button" id="finish__btn" value="완료" onclick="realFinish();"
                />
            </div>
            </div>
        </div>
        <common-footer></common-footer>
    </body>
</html>
