<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home | 무신사 게섯거라</title>
        <link rel="stylesheet" href="../styles/normalize.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="./home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="SiteHeader">
            <div class="SiteHeader__main">
                <div class="SiteHeaderMain__container Site__container">
                    <div class="SiteHeaderMain__left">
                        <h1 class="SiteHeaderMain__logo">
                            <a class="SiteHeaderMain__logoLink" href="">STOP MUSINSA</a>
                        </h1>
                        <input class="SiteHeaderMain__search">
                    </div>
                    <div class="SiteHeaderMain__right">
                        <nav class="SiteHeaderMainNav">
                            <ul class="SiteHeaderMainNav__list">
                                <li class="SiteHeaderMainNavItem">
                                    <a class="SiteHeaderMainNavItem__link SiteHeaderMainNavItem__link--active" href="#">홈</a>
                                    <div class="SiteHeaderMainNavItem__underbar"></div>
                                </li>
                                <li class="SiteHeaderMainNavItem">
                                    <a class="SiteHeaderMainNavItem__link" href="#">상의</a>
                                </li>
                                <li class="SiteHeaderMainNavItem">
                                    <a class="SiteHeaderMainNavItem__link" href="#">바지</a>
                                </li>
                                <li class="SiteHeaderMainNavItem">
                                    <a class="SiteHeaderMainNavItem__link" href="#">아우터</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="SiteHeader__sub">
                <div class="SiteHeaderSub__container Site__container">무신사 게섯거라</div>
            </div>
            <div class="SiteHeader__member">
                <div class="SiteHeaderMember__container Site__container">
                    <button class="Button Button--secondary">로그인</button>
                    <div class="SiteHeaderMemberMenus">
                        <div class="SiteHeaderMemberMenu">
                            <a class="SiteHeaderMemberMenu__link" href="#">회원가입</a>
                        </div>
                        <div class="SiteHeaderMemberMenu">
                            <a class="SiteHeaderMemberMenu__link" href="#">장바구니</a>
                            <span class="SiteHeaderMemberMenu__badge">0</span>
                        </div>
                        <div class="SiteHeaderMemberMenu">
                            <a class="SiteHeaderMemberMenu__link" href="#">회원 가입 EVENT. 신규 가입 후 바로
                                사용 가능한 18% 할인 쿠폰 / 게섯거라 스탠다드 990원 구매 기회</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SiteHeader__mobile">
                <div class="SiteHeaderMobile__container Site__container">
                    <div>
                        <a href="#" class="SiteHeaderMobile__icon SiteHeaderMobile__cart">
                            <img src="../assets/images/shopping_bag.png" alt="cart">
                        </a>
                    </div>
                    <div>
                        <div class="SiteHeaderMobile__logo">
                            <a class="SiteHeaderMobile__logoLink" href="">STOP MUSINSA</a>
                        </div>
                    </div>
                    <div >
                        <a href="#" class="SiteHeaderMobile__profile">
                            <img src="../assets/images/profile.png" alt="profile">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <div class="Banner">
            <img class="Banner__image" src="../assets/images/banner.png" alt="banner">
        </div>
        <div class="ProductList">
            <div class="ProductList__container Site__container">
                <h2 class="ProductList__title">실시간 랭킹</h2>
                <div class="ProductList__products">
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20210609/1989228/1989228_4_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20210609/1989228/1989228_4_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20220408/2477836/2477836_1_500.jpg?t=20220519101343" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20210607/1986031/1986031_1_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20200511/1439535/1439535_8_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>
                    <div class="ProductCard">
                        <div class="ProductCard__header">
                            <div class="ProductCard__ranking">0위</div>
                        </div>
                        <div class="ProductCard__imageContainer">
                            <img class="ProductCard__image" src="//image.msscdn.net/images/goods_img/20220126/2329532/2329532_1_320.jpg" alt="product_image">
                        </div>
                        <div class="ProductCard__body">
                            <h3 class="ProductCard__brand">캘빈클라인 골프</h3>
                            <p class="ProductCard__title">[NF]링클워머 스워트 셋업</p>
                            <p class="ProductCard__price">84,550원</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="SiteFooter">
            <div class="SiteFooter__contact">
                <div class="SiteFooterContact__container Site__container">
                    <div class="SiteFooterContactItem">
                        <h2 class="SiteFooterContactItem__title">무신사 게섯거라 개발팀</h2>
                        <p class="SiteFooterContactItem__body">
                            서울특별시 강남구 테헤란로53길 16<br>
                            데마코홀 지하1층, 무신사 게섯거라 개발팀<br>
                            <span class="Text--blue">(프론트엔드: 박민수, 김도영)</span>
                            <br>
                            <span class="Text--blue">(백엔드: 임병준, 김주현)</span>
                            <br>

                        </p>
                    </div>
                    <div class="SiteFooterContactItem">
                        <h2 class="SiteFooterContactItem__title">게섯거라 스토어</h2>
                        <p class="SiteFooterContactItem__body">
                            서울특별시 강남구 테헤란로53길 16<br>
                            데마코홀 지하1층 미팅룸1 <br>
                            <span class="Text--red">(미팅 시간 끝나면 방문 불가) </span>
                        </p>
                    </div>
                    <div class="SiteFooterContactItem">
                        <h2 class="SiteFooterContactItem__title">고객센터</h2>
                        <div class="SiteFooterContactItem__body">
                            <div class="SiteFooterContactItem__links">
                                <a href="#" class="SiteFooterContactItem__link">1544 -7199</a>
                                <a href="#" class="SiteFooterContactItem__link">1:1문의</a>
                                <a href="#" class="SiteFooterContactItem__link">이메일</a>
                            </div>
                            <p>
                                평일 오전 9시 - 오전 9시 1분 <br>
                                <span class="Text--grey">(상품 문의는 민수한테 물어보세요)</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SiteFooter__guarantee">
                <div class="SiteFooterGuarantee__container Site__container">
                    <div class="SiteFooterGuarantee__text">
                        <h3 class="SiteFooterGuarantee__title">100% NOT AUTHENTIC</h3>
                        <p class="SiteFooterGuarantee__caption">게섯거라 스토어에서 판매되는 모든 브랜드 제품은 짝퉁제조, 짝퉁수입원을 통해 유통되는 100% 짝퉁임을 보증합니다.</p>
                        <p class="SiteFooterGuarantee__body">
                            주식회사 무신사 게섯거라 (STOP MUSINSA  Co., Ltd.) | 서울특별시 강남구 테헤란로53길 16 데마코홀 지하1층, 게섯거라 개발팀 | 사업자등록번호 : 없어용 <br>
                            통신판매업신고 : 없어용 | 프론트엔드 개발팀 : 박민수 김도영   | 백엔드 개발팀 : 임병준 김주현 </p>
                        <p class="SiteFooterGuarantee__body">
                            일부 상품의 경우 주식회사 무신사 게섯거라는 통신판매의 당사자가 아닌 개발팀으로서 <br>
                            상품, 상품정보, 거래에 대한 책임이 제한될 수 있으므로, 저희 팀 팀장인 민수한테 상세히 물어보고 상품을 구매하시기 바랍니다.</p>
                    </div>
                    <div class="SiteFooterGuarantee__images">
                        <img class="SiteFooterGuarantee__image" src="../assets/images/kcp.png" alt="KCP">
                        <img class="SiteFooterGuarantee__image" src="../assets/images/ftc.png" alt="FTC">
                    </div>
                </div>
            </div>
            <div class="SiteFooter__bottom">
                <div class="Site__Container">
                    FASHION WEB MAGAZINE / TO STOP MUSINSA  <span class="SiteFooterBottom__URL">WWW.STOPMUSINSA.COM</span>
                </div>
            </div>
            <div class="SiteFooter__mobile Site__container">
                일부 상품의 경우 주식회사 무신사 게섯거라는 통신판매의 당사자가 아닌 개발팀으로서 상품, 상품정보, 거래에 대한 책임이 제한될 수 있으므로, 각 상품 페이지에서 구체적인 내용을 확인하시기 바랍니다.
            </div>

        </footer>
    </body>
</html>
