/* Common */
html,
body {
  font-family: 'Noto Sans KR', sans-serif;
}

.Site__container {
  width: 96%;
  margin: 0 auto;
}

.Text--red {
  color: #FF0000;
}

.Text--blue {
  color: #09f;
}

.Text--grey {
  color: #6e6e6e;
}

.Button {
  font-size: 12px;
  width: 148px;
  height: 28px;
  transition: all .3s;
  cursor: pointer;
}

.Button--secondary {
  border: 1px solid #000;
  background-color: white;
  color: black;
}

.Button--secondary:hover {
  background-color: black;
  color: white;
}

.Button--secondary {}

/* SiteHeaderMain */

.SiteHeader__main {
  display: flex;
  height: 76px;
  background-color: black;
}

.SiteHeader a {
  position: relative;
  bottom: 2px;
}

.SiteHeaderMain__container {
  display: flex;
  justify-content: space-between;

}

/*-- Left */

.SiteHeaderMain__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SiteHeaderMain__logo {
  color: white;
  margin-right: 32px;
  font-weight: 400;
  width: 200px;

}

.SiteHeaderMain__logoLink {
  font-size: 28px;
  line-height: 28px;
}

.SiteHeaderMain__logoLink:visited {
  color: white;
}

.SiteHeaderMain__search {
  height: 32px;
  width: 240px;
}

/*-- Right */

.SiteHeaderMain__right {
  display: flex;
  align-items: center;
}

.SiteHeaderMainNav li {
  list-style: none;
}

.SiteHeaderMainNav a {
  text-decoration: none;
  color: white;
}

.SiteHeaderMainNav__list {
  display: flex;
}


.SiteHeaderMainNavItem {
  margin: 16px 16px;
  font-weight: 700;
  font-size: 18px;
}

/* SiteHeaderSub */
.SiteHeader__sub {
  height: 50px;
  margin-left: 4px;
  background-color: #f3f3f3;
}

.SiteHeaderSub__container {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #f3f3f3;
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 500;
}


/* SiteHeaderMember */
.SiteHeader__member {
  border-bottom: 1px solid #ddd;
}

.SiteHeaderMember__container {
  display: flex;
  align-items: center;
  height: 50px;
}

.SiteHeaderMemberMenus {
  display: flex;
  margin-left: 8px;
}

.SiteHeaderMemberMenus .SiteHeaderMemberMenu:first-child a {
  color: #00A3FF;
  font-weight: 500;
  letter-spacing: 1px;
}

.SiteHeaderMemberMenus .SiteHeaderMemberMenu:last-child a {
  color: #048FFF;
  font-weight: 500;
}

.SiteHeaderMemberMenu {
  font-size: 12px;
}

.SiteHeaderMemberMenu__link {
  top: 0;
  padding: 8px 0px 8px 8px;
}

.SiteHeaderMemberMenu__link:hover {
  text-decoration: underline;

}

.SiteHeaderMemberMenu:after {
  content: "|";
  margin-left: 8px;
  color: #e6e6e6;
}



/* Footer */
.SiteFooter__contact {
  border-top: 1px solid rgb(234, 234, 234);
  border-bottom: 1px solid rgb(234, 234, 234);
}

.SiteFooterContact__container {
  display: flex;
  padding: 24px 24px 32px 24px;
}

.SiteFooterContactItem {
  font-size: 12px;
  margin-right: 48px;
}

.SiteFooterContactItem:not(:first-child) {
  border-left: 1px solid rgb(234, 234, 234);
  padding-left: 24px;
}

.SiteFooterContactItem__title {
  font-size: 12px;
}

.SiteFooterContactItem__body {
  margin-top: 16px;
  margin-bottom: 0px;
}

.SiteFooterContactItem p {
  line-height: 20px;
}


.SiteFooterContactItem__link:not(:last-child):after {
  content: "|";
  margin: 0 4px;
  color: rgb(215, 215, 215);
}

/* SiteFooterGuarantee */
.SiteFooterGuarantee__container {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;

}

.SiteFooterGuarantee__text {
  font-size: 12px;
}

.SiteFooterGuarantee__title {
  font-size: 18px;
  font-weight: 500;
  margin: 8px 0;
}

.SiteFooterGuarantee__caption {
  font-weight: 600;
  margin-bottom: 24px;
}

.SiteFooterGuarantee__body {
  color: #b2b2b2;
  line-height: 16px;
}

.SiteFooterGuarantee__images {
  display: flex;
  align-self: flex-end;
  padding-bottom: 24px;
}

.SiteFooterGuarantee__image {
  width: 56px;
  height: auto;
  margin-right: 16px;
}


.SiteFooter__bottom {
  background-color: black;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b2b2b2;
  font-size: 13px;
  font-weight: 400;

}

.SiteFooterBottom__URL {
  color: white;
}



@media (max-width: 576px) {}

@media (max-width: 768px) {
  .SiteHeaderMain__search {
    display: none;
  }
}

@media (max-width: 992px) {}