/* SiteHeaderMobile Detail */
.SiteHeaderMobile__detail {
    display: none;
}
.SiteHeaderMobileDetail__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SiteHeaderMobileDetail__left {
}
.SiteHeaderMobileDetail__prev img {
    width: 28px;
}
.SiteHeaderMobileDetail__right {
    display: flex;
}
.SiteHeaderMobileDetail__link {
    display: inline-block;
    line-height: 24px;
    width: 100%;
    height: 100%;
}
.SiteHeaderMobileDetail__profile img {
    width: 28px;
    opacity: 0.7;
    position: relative;
    top: 2px;
}
.SiteHeaderMobileDetail__cart img {
    width: 28px;
    opacity: 0.7;
}
.SiteHeaderMobileDetail__cart {
    margin-left: 16px;
}

/* Mobile */
@media (max-width: 768px) {
    /* SiteHeader */
    .SiteHeader__main {
        display: none;
    }
    .SiteHeaderMobile__detail {
        display: block;
    }
}
